.App {
  margin: 20px;
}

form {
  display: flex;
  align-items: flex-end;
}

form div {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  position: relative;
  border: 1px solid #333131;
  background-color: #ececec;
  border-radius: 10px;
  padding: 20px 30px;
  margin-right: 10px;
  text-align: center;
}

.remove-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  right: 2px;
  cursor: pointer;
  border-radius: 50%;
  transition: all .3s;
}

.remove-clock:hover {
  background-color: #333131;
  color: #ececec;
}